In [1]:
import pandas as pd
import seaborn as sns
import json
import numpy as np
np.seterr(divide='ignore', invalid='ignore')
import math

pd.options.display.max_columns = 100
pd.options.display.max_rows = 500

In [2]:
# STEP 1. Creating dataframes
tr_df = pd.read_csv("data/train.csv")
tst_df = pd.read_csv("data/test.csv")
task_df = pd.read_csv('data/task.csv')
taskres_df = pd.read_csv('data/task_results.csv')
course_df = pd.read_csv('data/course.csv')

In [3]:
# STEP 2. Identifying potential issues
# There is a "problem" with Cross-checked tasks. Results appear multiple times and the only score we need is 
# the score in rows with "Cross-Check score" text in the 'comment' column. See an example below:
taskres_df.query('courseTaskId == 505 and studentId==14526')

,createdDate,updatedDate,score,comment,studentId,courseTaskId,historicalScores,juryScores,checkerId,anonymous
9015,2020-09-11 07:41:15.293934,2020-09-11 07:41:15.293934,153,Cross-Check score,14526,505,"[{""authorId"":-1,""score"":153,""dateTime"":1599810...",[],NaN,NaN
13292,2020-09-03 16:55:31.544966,2020-09-03 16:55:31.544966,230,Отличная работа!!!\nПравда имеется один значит...,14526,505,"[{""score"":230,""comment"":""Отличная работа!!!\nП...",NaN,15669.0,t
13431,2020-09-04 13:07:30.772535,2020-09-04 13:07:30.772535,230,При неверном ответе в окне справа должны появл...,14526,505,"[{""score"":230,""comment"":""При неверном ответе в...",NaN,14740.0,t
13901,2020-09-08 18:45:12.650121,2020-09-08 18:45:12.650121,0,Would you please give me the link to your pull...,14526,505,"[{""score"":0,""comment"":""Would you please give m...",NaN,14541.0,t

In [4]:
# STEP 3. Ommiting uninformative columns
task_df = task_df[['courseTaskId', 'courseId', 'maxScore', 'scoreWeight', 'taskId', 'type',  'checker']]
task_df

,courseTaskId,courseId,maxScore,scoreWeight,taskId,type,checker
0,296,12,40.0,1.000000,413,test,mentor
1,292,12,100.0,1.000000,253,NaN,mentor
2,288,12,120.0,1.000000,410,NaN,mentor
3,285,12,100.0,0.800000,407,NaN,mentor
4,289,12,150.0,1.000000,230,NaN,mentor
5,286,12,100.0,0.800000,408,NaN,mentor
6,284,12,120.0,0.300000,405,NaN,mentor
7,290,12,100.0,1.000000,411,NaN,mentor
8,297,12,100.0,0.600000,414,NaN,mentor
9,280,12,100.0,0.100000,404,NaN,mentor
10,282,12,120.0,0.700000,406,NaN,mentor
11,298,12,20.0,1.000000,415,NaN,mentor
12,287,12,120.0,1.000000,409,jstask,mentor
13,334,14,100.0,1.000000,413,test,taskOwner
14,364,14,100.0,1.000000,451,jstask,taskOwner
15,365,14,100.0,1.000000,460,jstask,taskOwner
16,352,14,100.0,1.000000,449,interview,taskOwner
17,362,14,100.0,1.000000,458,jstask,taskOwner
18,366,14,100.0,0.300000,461,jstask,taskOwner
19,329,14,100.0,0.400000,405,NaN,taskOwner
20,323,14,100.0,0.100000,404,NaN,taskOwner
21,330,14,100.0,0.500000,406,NaN,taskOwner
22,324,14,500.0,1.000000,415,NaN,taskOwner
23,333,14,150.0,0.000010,393,jstask,taskOwner
24,335,14,110.0,0.500000,409,jstask,taskOwner
25,363,14,100.0,1.000000,459,jstask,taskOwner
26,350,11,280.0,0.700000,448,jstask,mentor
27,336,11,120.0,1.000000,445,codejam,mentor
28,300,11,100.0,0.010000,417,htmlcssacademy,mentor
29,325,11,50.0,1.000000,442,NaN,mentor
30,328,11,100.0,1.000000,443,NaN,mentor
31,337,11,100.0,1.000000,446,codejam,mentor
32,356,11,210.0,0.300000,452,jstask,crossCheck
33,367,11,100.0,1.000000,88,NaN,taskOwner
34,347,11,100.0,1.000000,351,NaN,taskOwner
35,321,11,100.0,0.500000,435,test,taskOwner
36,303,11,100.0,0.030000,422,jstask,mentor
37,354,11,60.0,1.000000,96,jstask,jury
38,332,11,120.0,1.000000,89,jstask,mentor
39,306,11,100.0,0.010000,428,jstask,mentor
40,349,11,450.0,1.000000,352,jstask,assigned
41,344,11,128.0,1.000000,129,codewars:stage2,mentor
42,315,11,100.0,0.010000,434,test,taskOwner
43,316,11,100.0,0.050000,433,test,taskOwner
44,313,11,100.0,0.010000,432,test,taskOwner
45,327,11,100.0,1.000000,418,NaN,mentor
46,319,11,100.0,0.300000,439,jstask,mentor
47,304,11,100.0,0.050000,424,jstask,mentor
48,301,11,100.0,0.020000,421,jstask,mentor
49,302,11,100.0,0.020000,423,jstask,mentor
50,305,11,100.0,0.030000,425,jstask,mentor
51,308,11,100.0,0.020000,426,jstask,mentor
52,307,11,100.0,0.040000,427,jstask,mentor
53,309,11,100.0,0.040000,429,jstask,mentor
54,310,11,100.0,0.040000,430,jstask,mentor
55,342,11,100.0,1.000000,447,jstask,mentor
56,353,11,100.0,1.000000,450,htmltask,crossCheck
57,345,11,100.0,1.000000,83,jstask,mentor
58,343,11,100.0,1.000000,246,test,taskOwner
59,318,11,100.0,0.010000,437,cv:markdown,mentor
60,331,11,110.0,1.000000,444,jstask,mentor
61,320,11,100.0,0.300000,438,jstask,mentor
62,444,13,300.0,0.700000,448,jstask,mentor
63,368,13,100.0,0.010000,417,htmlcssacademy,mentor
64,380,13,100.0,0.020000,475,jstask,mentor
65,382,13,100.0,0.020000,473,jstask,mentor
66,410,13,100.0,1.000000,485,htmltask,crossCheck
67,445,13,250.0,0.300000,452,jstask,crossCheck
68,374,13,100.0,0.020000,467,jstask,mentor
69,381,13,100.0,0.020000,474,jstask,mentor
70,383,13,100.0,0.020000,472,jstask,mentor
71,386,13,100.0,0.500000,476,htmltask,crossCheck
72,516,13,125.0,0.300000,88,NaN,taskOwner
73,430,13,100.0,0.100000,435,test,auto-test
74,469,13,100.0,0.100000,229,test,taskOwner
75,470,13,60.0,1.000000,96,jstask,jury
76,468,13,120.0,1.000000,89,jstask,mentor
77,426,13,128.0,0.500000,129,codewars:stage2,auto-test
78,387,13,54.0,0.100000,434,test,taskOwner
79,401,13,100.0,0.100000,433,test,taskOwner
80,373,13,60.0,0.020000,465,codewars:stage1,mentor
81,388,13,50.0,0.100000,432,test,taskOwner
82,398,13,100.0,0.050000,424,jstask,mentor
83,399,13,100.0,0.020000,421,jstask,mentor
84,397,13,100.0,0.020000,426,jstask,mentor
85,441,13,100.0,0.500000,83,jstask,auto-test
86,370,13,100.0,0.010000,84,cv:html,autoTest
87,369,13,100.0,0.010000,437,cv:markdown,mentor
88,423,13,110.0,0.700000,444,jstask,mentor
89,512,13,520.0,1.000000,536,test,taskOwner
90,476,13,180.0,0.100000,520,jstask,mentor
91,477,13,180.0,0.100000,521,jstask,crossCheck
92,440,13,100.0,0.100000,507,jstask,crossCheck
93,492,13,1000.0,0.300000,529,jstask,crossCheck
94,491,13,100.0,2.000000,530,jstask,jury
95,493,13,76.0,0.100000,531,test,taskOwner
96,424,13,75.0,0.300000,493,jstask,crossCheck
97,433,13,200.0,0.700000,500,jstask,mentor
98,432,13,170.0,0.300000,499,jstask,crossCheck
99,442,13,220.0,0.700000,508,jstask,mentor
100,443,13,180.0,0.300000,509,jstask,crossCheck
101,449,13,25.0,0.500000,513,codejam,taskOwner
102,425,13,100.0,0.100000,494,jstask,crossCheck
103,615,27,300.0,1.000000,448,jstask,mentor
104,483,27,300.0,1.000000,452,jstask,crossCheck
105,474,27,100.0,1.000000,467,jstask,auto-test
106,480,27,100.0,1.000000,476,htmltask,crossCheck
107,475,27,128.0,1.000000,129,codewars:stage2,auto-test
108,472,27,100.0,1.000000,465,codewars:stage1,auto-test
109,481,27,100.0,1.000000,83,jstask,auto-test
110,509,27,75.0,1.000000,493,jstask,crossCheck
111,375,17,50.0,1.000000,468,jstask,taskOwner
112,379,17,100.0,1.000000,471,jstask,taskOwner
113,407,17,100.0,1.000000,483,test,taskOwner
114,376,17,100.0,1.000000,469,jstask,taskOwner
115,378,17,280.0,1.000000,479,jstask,taskOwner
116,377,17,100.0,1.000000,470,jstask,taskOwner
117,498,28,50.0,1.000000,468,jstask,taskOwner
118,501,28,100.0,1.000000,469,jstask,taskOwner
119,503,28,100.0,1.000000,470,jstask,taskOwner
120,637,20,20.0,1.000000,468,jstask,mentor
121,495,20,100.0,1.000000,122,NaN,mentor
122,419,20,100.0,1.000000,484,stage-interview,mentor
123,400,20,100.0,0.600000,129,codewars:stage2,mentor
124,389,20,60.0,1.000000,465,codewars:stage1,mentor
125,404,20,100.0,0.050000,421,jstask,mentor
126,402,20,100.0,1.000000,83,jstask,mentor
127,394,20,100.0,1.000000,437,cv:markdown,mentor
128,415,20,100.0,0.050000,438,jstask,mentor
129,471,20,110.0,1.000000,518,jstask,mentor
130,420,20,100.0,0.500000,490,htmltask,mentor
131,490,20,100.0,1.000000,528,jstask,mentor
132,496,20,100.0,1.000000,533,jstask,mentor
133,428,20,100.0,1.000000,496,htmltask,mentor
134,446,20,100.0,0.700000,510,jstask,mentor
135,450,20,25.0,0.500000,513,codejam,mentor
136,467,20,70.0,0.800000,517,jstask,mentor
137,473,20,280.0,1.000000,519,jstask,mentor
138,518,20,100.0,1.000000,540,interview,mentor
139,641,20,100.0,1.000000,541,jstask,mentor
140,411,23,100.0,1.000000,486,kotlintask,auto-test
141,515,23,100.0,1.000000,129,codewars:stage2,auto-test
142,391,23,100.0,1.000000,477,kotlintask,auto-test
143,514,23,100.0,1.000000,538,codewars,auto-test
144,393,16,100.0,1.000000,480,jstask,taskOwner
145,372,16,230.0,1.000000,463,jstask,crossCheck
146,371,16,230.0,1.000000,464,jstask,crossCheck
147,396,16,300.0,1.000000,481,jstask,crossCheck
148,412,18,100.0,1.000000,487,test,taskOwner
149,384,18,100.0,0.200000,437,cv:markdown,mentor
150,413,18,100.0,1.000000,488,objctask,mentor
151,406,18,100.0,0.800000,482,objctask,mentor
152,489,18,100.0,1.000000,527,test,mentor
153,429,18,100.0,0.700000,497,objctask,mentor
154,434,18,100.0,1.000000,501,test,taskOwner
155,435,18,100.0,0.800000,502,objctask,mentor
156,447,18,100.0,1.000000,511,objctask,mentor
157,465,18,100.0,1.000000,515,objctask,taskOwner
158,299,10,100.0,1.000000,416,NaN,mentor
159,249,10,NaN,0.300000,388,NaN,mentor
160,250,10,NaN,0.100000,389,NaN,mentor
161,253,10,100.0,1.000000,390,NaN,mentor
162,311,10,100.0,1.000000,122,NaN,mentor
163,277,10,NaN,1.000000,96,jstask,mentor
164,254,10,100.0,0.400000,391,NaN,mentor
165,255,10,100.0,0.700000,392,NaN,mentor
166,257,10,100.0,0.700000,394,NaN,mentor
167,258,10,100.0,0.800000,395,NaN,mentor
168,279,10,100.0,0.800000,403,NaN,mentor
169,256,10,130.0,1.000000,393,jstask,mentor
170,31,2,NaN,1.000000,95,NaN,mentor
171,18,2,NaN,1.000000,82,NaN,mentor
172,21,2,NaN,1.000000,85,NaN,mentor
173,24,2,NaN,1.000000,88,NaN,mentor
174,27,2,NaN,1.000000,91,NaN,mentor
175,28,2,NaN,1.000000,92,NaN,mentor
176,30,2,NaN,1.000000,94,NaN,mentor
177,33,2,NaN,1.000000,97,NaN,mentor
178,26,2,NaN,1.000000,90,NaN,mentor
179,23,2,NaN,1.000000,87,NaN,mentor
180,32,2,NaN,1.000000,96,jstask,mentor
181,25,2,NaN,1.000000,89,jstask,mentor
182,29,2,NaN,1.000000,93,codejam,mentor
183,19,2,NaN,1.000000,83,jstask,mentor
184,20,2,NaN,1.000000,84,cv:html,mentor
185,414,19,1000.0,10.000000,486,kotlintask,auto-test
186,385,19,100.0,1.000000,437,cv:markdown,autoTest
187,494,19,1000.0,1.000000,532,kotlintask,mentor
188,510,19,1000.0,1.000000,534,kotlintask,mentor
189,513,19,1500.0,1.000000,537,kotlintask,mentor
190,427,19,500.0,1.000000,495,test,taskOwner
191,431,19,1000.0,10.000000,498,kotlintask,auto-test
192,439,19,500.0,1.000000,506,test,taskOwner
193,448,19,1500.0,15.000000,512,kotlintask,auto-test
194,466,19,100.0,10.000000,516,test,taskOwner
195,565,19,1500.0,1.000000,544,codejam,taskOwner
196,659,19,1000.0,1.000000,574,test,taskOwner
197,278,1,NaN,1.000000,402,codejam,mentor
198,259,1,NaN,1.000000,88,NaN,mentor
199,39,1,NaN,0.500000,117,NaN,mentor
200,51,1,76.0,1.000000,351,NaN,mentor
201,38,1,NaN,1.000000,122,NaN,mentor
202,7,1,140.0,1.000000,87,NaN,mentor
203,48,1,NaN,1.000000,96,jstask,mentor
204,44,1,NaN,1.000000,89,jstask,mentor
205,49,1,10.0,10.000000,349,interview,mentor
206,50,1,100.0,1.000000,350,codejam,mentor
207,52,1,NaN,1.000000,352,jstask,assigned
208,41,1,128.0,0.300000,129,codewars:stage2,mentor
209,3,1,100.0,1.000000,83,jstask,mentor
210,40,1,NaN,1.000000,128,codejam,mentor
211,4,1,NaN,0.200000,84,cv:html,mentor
212,505,29,240.0,1.000000,463,jstask,crossCheck
213,517,29,24.0,1.000000,539,codewars,auto-test
214,266,9,NaN,1.000000,396,NaN,mentor
215,276,9,NaN,1.000000,400,NaN,mentor
216,264,9,NaN,1.000000,86,NaN,mentor
217,272,9,NaN,1.000000,398,NaN,mentor
218,260,9,NaN,0.500000,85,NaN,mentor
219,273,9,NaN,1.000000,94,NaN,mentor
220,267,9,NaN,1.000000,397,NaN,mentor
221,275,9,NaN,1.000000,401,NaN,mentor
222,238,9,NaN,1.000000,229,test,mentor
223,269,9,NaN,1.000000,89,jstask,mentor
224,268,9,NaN,1.000000,349,interview,mentor
225,271,9,NaN,0.300000,93,codejam,mentor
226,265,9,NaN,0.300000,129,codewars:stage2,mentor
227,239,9,NaN,0.000010,233,NaN,mentor
228,274,9,NaN,0.300000,399,codejam,mentor
229,263,9,NaN,1.000000,83,jstask,mentor
230,173,4,NaN,1.000000,221,NaN,mentor
231,174,4,NaN,1.000000,224,NaN,mentor
232,175,4,NaN,1.000000,222,NaN,mentor
233,176,4,NaN,1.000000,223,NaN,mentor
234,177,4,NaN,1.000000,225,NaN,mentor
235,178,4,NaN,1.000000,226,NaN,mentor
236,179,4,NaN,1.000000,227,NaN,mentor
237,180,4,NaN,1.000000,228,NaN,mentor
238,183,4,NaN,1.000000,231,NaN,mentor
239,184,4,NaN,1.000000,232,NaN,mentor
240,186,4,NaN,1.000000,234,NaN,mentor
241,187,4,NaN,1.000000,235,NaN,mentor
242,188,4,NaN,1.000000,236,NaN,mentor
243,189,4,NaN,1.000000,237,NaN,mentor
244,182,4,NaN,1.000000,230,NaN,mentor
245,181,4,NaN,1.000000,229,test,mentor
246,172,4,NaN,1.000000,220,NaN,mentor
247,185,4,NaN,1.000000,233,NaN,mentor
248,222,6,NaN,1.000000,223,NaN,mentor
249,223,6,NaN,1.000000,226,NaN,mentor
250,224,6,NaN,1.000000,227,NaN,mentor
251,227,6,NaN,1.000000,235,NaN,mentor
252,225,6,NaN,1.000000,229,test,mentor
253,226,6,NaN,1.000000,233,NaN,mentor
254,140,5,NaN,1.000000,232,NaN,mentor
255,142,5,NaN,1.000000,235,NaN,mentor
256,143,5,NaN,0.000001,240,NaN,mentor
257,144,5,NaN,1.000000,241,NaN,mentor
258,145,5,NaN,1.000000,242,NaN,mentor
259,146,5,NaN,1.000000,243,NaN,mentor
260,164,5,NaN,1.000000,244,NaN,mentor
261,148,5,NaN,1.000000,245,NaN,mentor
262,149,5,NaN,1.000000,247,NaN,mentor
263,150,5,NaN,1.000000,249,NaN,mentor
264,151,5,NaN,1.000000,250,NaN,mentor
265,152,5,NaN,1.000000,251,NaN,mentor
266,153,5,NaN,1.000000,253,NaN,mentor
267,154,5,NaN,1.000000,369,NaN,mentor
268,139,5,NaN,1.000000,229,test,mentor
269,138,5,NaN,1.000000,220,NaN,mentor
270,141,5,NaN,1.000000,233,NaN,mentor
271,418,21,100.0,1.000000,489,jstask,crossCheck
272,422,21,200.0,1.000000,492,jstask,crossCheck
273,437,21,100.0,1.000000,504,jstask,crossCheck
274,438,21,100.0,1.000000,505,jstask,crossCheck
275,436,21,100.0,1.000000,503,jstask,crossCheck

In [5]:
taskres_df = taskres_df[['studentId', 'courseTaskId', 'score', 'comment']]
#taskres_df = taskres_df.query('courseTaskId != 343') 343 task is marked as 'trash' 
taskres_df

,studentId,courseTaskId,score,comment
0,7266,300,100,NaN
1,7929,313,41,NaN
2,6134,308,100,NaN
3,5882,305,100,NaN
4,8247,305,100,NaN
...,...,...,...,...
94257,14467,509,0,404 Error instead of application
94258,14457,509,68,Частично выполненные пункты:\n1) Есть переключ...
94259,14495,509,75,Выполненные пункты:\n1) Реализована генерация ...
94260,14444,483,170,Отзыв по пунктам ТЗ:\nНе выполненные/не засчит...
94261,14506,483,158,"\n1. Basic scope:\n\nUI, layout :\n- desktop, ..."

In [6]:
tr_df = tr_df[['studentId', 'courseId', 'mentorId', 'repository', 'isTopPerformer']]
tst_df = tst_df[['studentId', 'courseId', 'mentorId', 'repository']]

In [7]:
# STEP 4. Creating a new data frame that contains all the data related to tasks and students' scores.
# The output is a list of all tasks completed by every student, their scores, and task-related info
# Thus, we aim to 'enrich' the existing taskres_df table
tasks_df = pd.merge(left=taskres_df,right=task_df,how='left',on='courseTaskId',suffixes=('', ''))

tasks_df['score'] = tasks_df['score']*tasks_df['scoreWeight'] # get the 'real' Score
tasks_df['maxScore'] = tasks_df['maxScore']*tasks_df['scoreWeight'] # get the 'real' maxScore
tasks_df = tasks_df.drop('scoreWeight', axis=1) # remove scoreWeigth as it's not needed anymore
tasks_df

,studentId,courseTaskId,score,comment,courseId,maxScore,taskId,type,checker
0,7266,300,1.00,NaN,11,1.0,417,htmlcssacademy,mentor
1,7929,313,0.41,NaN,11,1.0,432,test,taskOwner
2,6134,308,2.00,NaN,11,2.0,426,jstask,mentor
3,5882,305,3.00,NaN,11,3.0,425,jstask,mentor
4,8247,305,3.00,NaN,11,3.0,425,jstask,mentor
...,...,...,...,...,...,...,...,...,...
94257,14467,509,0.00,404 Error instead of application,27,75.0,493,jstask,crossCheck
94258,14457,509,68.00,Частично выполненные пункты:\n1) Есть переключ...,27,75.0,493,jstask,crossCheck
94259,14495,509,75.00,Выполненные пункты:\n1) Реализована генерация ...,27,75.0,493,jstask,crossCheck
94260,14444,483,170.00,Отзыв по пунктам ТЗ:\nНе выполненные/не засчит...,27,300.0,452,jstask,crossCheck
94261,14506,483,158.00,"\n1. Basic scope:\n\nUI, layout :\n- desktop, ...",27,300.0,452,jstask,crossCheck

In [8]:
# STEP 5. Overcoming the issue identified on STEP 2.

# I need to say I tried to calculate the mean of all other values so that the resulting data frame
# contains both "crossCheck" and the mean of other values grouped by studentId, but this approach turned out to be worse.
# I looks like students with only one cross-check score don't have their final cross-check score and therefore their score 
# should not be taken into account.

# create a dataframe with the 'real' crosscheck scores
cc_w_cc_comment = tasks_df.query('checker == "crossCheck" and comment == "Cross-Check score"')
print('comment == "Cross-Check score", count:', cc_w_cc_comment.shape[0])
# delete rows with the "crossCheck" value in the checker column
tasks_df = tasks_df.drop(tasks_df[tasks_df.checker == "crossCheck"].index) 
# add correct values with the real cross-check value
tasks_df = tasks_df.append(cc_w_cc_comment, ignore_index=True)

tasks_df

comment == "Cross-Check score", count: 6113

,studentId,courseTaskId,score,comment,courseId,maxScore,taskId,type,checker
0,7266,300,1.00,NaN,11,1.0,417,htmlcssacademy,mentor
1,7929,313,0.41,NaN,11,1.0,432,test,taskOwner
2,6134,308,2.00,NaN,11,2.0,426,jstask,mentor
3,5882,305,3.00,NaN,11,3.0,425,jstask,mentor
4,8247,305,3.00,NaN,11,3.0,425,jstask,mentor
...,...,...,...,...,...,...,...,...,...
70030,14518,509,68.00,Cross-Check score,27,75.0,493,jstask,crossCheck
70031,14506,509,75.00,Cross-Check score,27,75.0,493,jstask,crossCheck
70032,14492,509,32.00,Cross-Check score,27,75.0,493,jstask,crossCheck
70033,14495,509,75.00,Cross-Check score,27,75.0,493,jstask,crossCheck
70034,14467,509,55.00,Cross-Check score,27,75.0,493,jstask,crossCheck

In [9]:
# STEP 6. Getting the sum of all scores for each student in each course
course_student_score_df = tasks_df.groupby(['courseId', 'studentId']).sum()[['score']]
course_student_score_df

                     score
courseId studentId
1        1          1324.4
         2           394.9
         3             0.0
         4           102.7
         5             2.4
...                    ...
29       15636       217.0
         15651        24.0
         15669       255.0
         15671       220.0
         15691       252.0

[8381 rows x 1 columns]

In [10]:
# STEP 7. Glue together two data frames as the test data frame may contain the best of the not-so-performing students 

# create a new isTest column so that we can easily extract test/ train data from the combined dataframe
tr_df['isTest'] = False 
tst_df['isTest'] = True
tst_df['isTopPerformer'] = 'UNKNOWN'
uni_df = pd.concat([tr_df,tst_df],ignore_index=True)
#uni_df.groupby(['courseId','isTopPerformer']).count()[['studentId']]
uni_df

,studentId,courseId,mentorId,repository,isTopPerformer,isTest
0,5740,11,647.0,https://github.com/rolling-scopes-school/1b3f6...,True,False
1,6956,11,795.0,https://github.com/rolling-scopes-school/76c0e...,True,False
2,11616,16,NaN,NaN,False,False
3,11773,16,NaN,NaN,False,False
4,6724,11,928.0,https://github.com/rolling-scopes-school/7fb23...,True,False
...,...,...,...,...,...,...
13457,13278,19,NaN,NaN,UNKNOWN,True
13458,14984,29,NaN,NaN,UNKNOWN,True
13459,14557,29,NaN,NaN,UNKNOWN,True
13460,15249,29,NaN,NaN,UNKNOWN,True
13461,15012,29,NaN,NaN,UNKNOWN,True

In [11]:
# STEP 8. Merging the list of task results and the list of students.
# Perform right join as there are students that are not in the task_results table

test_train_dataset = pd.merge(left=course_student_score_df, right=uni_df, \
                                  how='right',on=['studentId','courseId'],suffixes=('', ''))

print("The number of students with no score:", test_train_dataset.query('score != score').count()['courseId'])
print("The number of Top Performers with no score:", test_train_dataset.\
      query('score != score and isTopPerformer == True').count()['courseId'])

# substitute NAs with 0
test_train_dataset['score'] = test_train_dataset['score'].fillna(0)

test_train_dataset

The number of students with no score: 5081
The number of Top Performers with no score: 0

,studentId,courseId,score,mentorId,repository,isTopPerformer,isTest
0,5740,11,190.20,647.0,https://github.com/rolling-scopes-school/1b3f6...,True,False
1,6956,11,123.07,795.0,https://github.com/rolling-scopes-school/76c0e...,True,False
2,11616,16,0.00,NaN,NaN,False,False
3,11773,16,0.00,NaN,NaN,False,False
4,6724,11,400.62,928.0,https://github.com/rolling-scopes-school/7fb23...,True,False
...,...,...,...,...,...,...,...
13457,13278,19,0.00,NaN,NaN,UNKNOWN,True
13458,14984,29,0.00,NaN,NaN,UNKNOWN,True
13459,14557,29,0.00,NaN,NaN,UNKNOWN,True
13460,15249,29,0.00,NaN,NaN,UNKNOWN,True
13461,15012,29,0.00,NaN,NaN,UNKNOWN,True

In [12]:
# STEP 8. Displaying the percentage of each category (True/False/Unknown) grouped by courses + number of students 
# and their max and max scores so that we can understand how many values we need to  predict in each course.
number_of_students_in_groups = test_train_dataset.groupby(['courseId', 'isTopPerformer']).count()[['score']]
percentage_of_students_in_groups = number_of_students_in_groups.rename(columns={'score': 'Percentage'})
percentage_of_students_in_groups = round(100*(percentage_of_students_in_groups/percentage_of_students_in_groups.groupby(level=0).sum()),1)
number_of_students_in_groups = number_of_students_in_groups.rename(columns={'score': 'Count'})
max_scores_in_groups = test_train_dataset.groupby(['courseId', 'isTopPerformer']).max()[['score']]
max_scores_in_groups = max_scores_in_groups.rename(columns={'score': 'maxScore'})
min_scores_in_groups = test_train_dataset.groupby(['courseId', 'isTopPerformer']).min()[['score']]
min_scores_in_groups = min_scores_in_groups.rename(columns={'score': 'minScore'})
merged = pd.merge(number_of_students_in_groups, percentage_of_students_in_groups, left_index=True, right_index=True, suffixes=('', ''))
merged = pd.merge(merged, max_scores_in_groups, left_index=True, right_index=True, suffixes=('', ''))
merged = pd.merge(merged, min_scores_in_groups, left_index=True, right_index=True, suffixes=('', ''))
merged

                         Count  Percentage     maxScore     minScore
courseId isTopPerformer
1        False            1199        65.0    105.80000     0.000000
         True              392        21.2   1589.40000   107.500000
         UNKNOWN           254        13.8    240.00000     0.000000
2        False             867        65.5    279.00000     0.000000
         True              277        20.9   1623.00000   283.000000
         UNKNOWN           179        13.5      0.00000     0.000000
4        False              63        64.9   1250.00000    71.000000
         True               20        20.6   2208.00000  1268.000000
         UNKNOWN            14        14.4      0.00000     0.000000
5        False              27        60.0   1829.00000     0.000000
         True               10        22.2   3520.18882  1844.314081
         UNKNOWN             8        17.8      0.00000     0.000000
6        False              26        61.9    386.00000     0.000000
         True                9        21.4    471.00000   409.000000
         UNKNOWN             7        16.7      0.00000     0.000000
9        False             257        64.9    803.00060     0.000000
         True               80        20.2   1391.00078   808.000320
         UNKNOWN            59        14.9      0.00000     0.000000
10       False              60        65.2    281.00000     0.000000
         True               18        19.6    861.80000   339.500000
         UNKNOWN            14        15.2      0.00000     0.000000
11       False            2016        64.6     54.00000     0.000000
         True              653        20.9   1834.71000    54.060000
         UNKNOWN           454        14.5   1354.70000     0.000000
12       False              14        66.7    462.70000   304.700000
         True                4        19.0    683.00000   492.700000
         UNKNOWN             3        14.3    648.70000   412.500000
13       False            2110        63.6     89.10000     0.000000
         True              697        21.0   1851.50000    89.680000
         UNKNOWN           513        15.5   1253.00000     0.000000
14       False              16        66.7    242.50000   164.501050
         True                5        20.8    329.50109   249.001070
         UNKNOWN             3        12.5    238.50000   194.001040
16       False             265        62.9    404.00000     0.000000
         True               80        19.0    803.00000   301.000000
         UNKNOWN            76        18.1    508.00000     0.000000
17       False              86        61.9    391.00000     0.000000
         True               29        20.9    716.00000   525.000000
         UNKNOWN            24        17.3    620.00000     0.000000
18       False             189        59.6    198.00000     0.000000
         True               69        21.8    752.00000   223.700000
         UNKNOWN            59        18.6    483.00000     0.000000
19       False             238        61.3   4440.00000     0.000000
         True               80        20.6  10440.00000  4450.000000
         UNKNOWN            70        18.0   2590.00000     0.000000
20       False             127        61.1    290.70000     0.000000
         True               45        21.6   1440.80000   315.000000
         UNKNOWN            36        17.3    889.30000     0.000000
21       False             289        63.5    398.00000     0.000000
         True               98        21.5    600.00000   394.000000
         UNKNOWN            68        14.9    500.00000     0.000000
23       False               1        33.3    200.00000   200.000000
         True                1        33.3    231.00000   231.000000
         UNKNOWN             1        33.3    170.00000   170.000000
27       False              42        67.7    368.00000     0.000000
         True               12        19.4    683.00000   342.000000
         UNKNOWN             8        12.9    451.00000    60.000000
28       UNKNOWN           245       100.0    250.00000     0.000000
29       UNKNOWN           896       100.0    264.00000     0.000000

<hr>
We see that in most courses the number of unknown rows is not higher than 20 percents.<br>
The only problematic courses are 28 and 29.<br>
Also, we see that in the majority of cases the max score of non-performing students is lower than the min score of top performers. This gives us an idea this value (score) can properly divide the dataset and predict whether a student is a top performer or not.

In [13]:
# STEP 9. Calculating absolute scores.
# To do so, we'll find the best registered score in each score and divide scores of students by that value.

def get_max_registered_score(data, course_ids):
    max_scores = {}
    for course_id in course_ids:
        max_score = data.query('courseId == @course_id').max()['score']
        max_scores[course_id] = round(max_score,1)
    return max_scores

courseIDs = sorted(course_df['courseId'].unique())
max_scores = get_max_registered_score(test_train_dataset, courseIDs)

def calc_total_abs_score(row):
    course_id = row['courseId']
    course_max_score = max_scores[course_id]
    row['abs_score'] = row['score']/course_max_score
    return row

test_train_dataset['abs_score'] = 0

test_train_dataset['totalScore'] = test_train_dataset['score'].fillna(0)
test_train_dataset = test_train_dataset.apply(calc_total_abs_score, axis=1)
test_train_dataset[['mentorId', 'repository']] = test_train_dataset[['mentorId', 'repository']].fillna('N/A')
test_train_dataset = test_train_dataset.drop(columns='score')
test_train_dataset

,studentId,courseId,mentorId,repository,isTopPerformer,isTest,abs_score,totalScore
0,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.20
1,6956,11,795,https://github.com/rolling-scopes-school/76c0e...,True,False,0.067079,123.07
2,11616,16,N/A,N/A,False,False,0.000000,0.00
3,11773,16,N/A,N/A,False,False,0.000000,0.00
4,6724,11,928,https://github.com/rolling-scopes-school/7fb23...,True,False,0.218357,400.62
...,...,...,...,...,...,...,...,...
13457,13278,19,N/A,N/A,UNKNOWN,True,0.000000,0.00
13458,14984,29,N/A,N/A,UNKNOWN,True,0.000000,0.00
13459,14557,29,N/A,N/A,UNKNOWN,True,0.000000,0.00
13460,15249,29,N/A,N/A,UNKNOWN,True,0.000000,0.00
13461,15012,29,N/A,N/A,UNKNOWN,True,0.000000,0.00

In [14]:
# STEP 10*. There's an idea I'd like to check - what if we can predict whether a student is a Top Performer or not based
# on their absolute position in the leaderboard (i.e. top 20%)?


def set_howManyHasLowerScore(row):
    """
    This function calculates how many students (which proportiong of students) have a lower score
    Input: df row, output: df row with an extra 'howManyHasLowerScore' column
    """
    course = row['courseId']
    score = row['abs_score']
    course_dataset = test_train_dataset.query('courseId == @course')
    total_number_of_students = course_dataset.shape[0]
    number_of_worse_students = course_dataset[course_dataset['abs_score'] < score]['studentId'].count()
    the_proportion = number_of_worse_students/total_number_of_students
    row['howManyHasLowerScore'] = the_proportion
    return row
    
test_train_dataset['howManyHasLowerScore'] = 0
test_train_dataset = test_train_dataset.apply(set_howManyHasLowerScore, axis=1)
test_train_dataset

,studentId,courseId,mentorId,repository,isTopPerformer,isTest,abs_score,totalScore,howManyHasLowerScore
0,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.20,0.852706
1,6956,11,795,https://github.com/rolling-scopes-school/76c0e...,True,False,0.067079,123.07,0.830612
2,11616,16,N/A,N/A,False,False,0.000000,0.00,0.000000
3,11773,16,N/A,N/A,False,False,0.000000,0.00,0.000000
4,6724,11,928,https://github.com/rolling-scopes-school/7fb23...,True,False,0.218357,400.62,0.881844
...,...,...,...,...,...,...,...,...,...
13457,13278,19,N/A,N/A,UNKNOWN,True,0.000000,0.00,0.000000
13458,14984,29,N/A,N/A,UNKNOWN,True,0.000000,0.00,0.000000
13459,14557,29,N/A,N/A,UNKNOWN,True,0.000000,0.00,0.000000
13460,15249,29,N/A,N/A,UNKNOWN,True,0.000000,0.00,0.000000
13461,15012,29,N/A,N/A,UNKNOWN,True,0.000000,0.00,0.000000

In [15]:
# STEP 11. It would be great to see all scores in course for each student, isn't it?
# So we'll pivot the data set, but firstly, we need to prepare the dataframe for pivoting

test_train_dataset_for_pivoting = pd.merge(left=test_train_dataset, right=tasks_df, \
                        how='left',on=['studentId','courseId'],suffixes=('', ''))
test_train_dataset_for_pivoting[['courseTaskId', 'taskId']] = test_train_dataset_for_pivoting[['courseTaskId', 'taskId']].fillna('N/A')
test_train_dataset_for_pivoting['score'] = test_train_dataset_for_pivoting['score'].fillna(0)
test_train_dataset_for_pivoting

,studentId,courseId,mentorId,repository,isTopPerformer,isTest,abs_score,totalScore,howManyHasLowerScore,courseTaskId,score,comment,maxScore,taskId,type,checker
0,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.2,0.852706,319,30.0,NaN,30.0,439,jstask,mentor
1,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.2,0.852706,302,2.0,NaN,2.0,423,jstask,mentor
2,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.2,0.852706,304,5.0,NaN,5.0,424,jstask,mentor
3,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.2,0.852706,318,0.5,NaN,1.0,437,cv:markdown,mentor
4,5740,11,647,https://github.com/rolling-scopes-school/1b3f6...,True,False,0.103668,190.2,0.852706,303,3.0,NaN,3.0,422,jstask,mentor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75111,13278,19,N/A,N/A,UNKNOWN,True,0.000000,0.0,0.000000,N/A,0.0,NaN,NaN,N/A,NaN,NaN
75112,14984,29,N/A,N/A,UNKNOWN,True,0.000000,0.0,0.000000,N/A,0.0,NaN,NaN,N/A,NaN,NaN
75113,14557,29,N/A,N/A,UNKNOWN,True,0.000000,0.0,0.000000,N/A,0.0,NaN,NaN,N/A,NaN,NaN
75114,15249,29,N/A,N/A,UNKNOWN,True,0.000000,0.0,0.000000,N/A,0.0,NaN,NaN,N/A,NaN,NaN
75115,15012,29,N/A,N/A,UNKNOWN,True,0.000000,0.0,0.000000,N/A,0.0,NaN,NaN,N/A,NaN,NaN

In [16]:
# STEP 12. Now it's time to pivot the data.
# Once pivoted csv files are generated, it's worth checking the generated csv files to see if there any visible outliers

courseId_studentId_isTest_score_howmany = pd.DataFrame()
pivoted_courses_collection = {}

for courseID in courseIDs:
    print('Pivoting', courseID)
    course_df = test_train_dataset_for_pivoting.query('courseId == @courseID')
    pivoted_course_df = pd.pivot_table(course_df, index=['courseId','studentId', 'isTopPerformer', 'isTest', 'abs_score', \
                                                        'howManyHasLowerScore', 'totalScore', 'mentorId', 'repository'], \
                               columns=['courseTaskId'], values=['score'], fill_value=0)
    flat_pivoted_course_df = pivoted_course_df
    # make the pivot table flat
    flat_pivoted_course_df.columns = ['_'.join([str(c) for c in c_list]) for c_list in flat_pivoted_course_df.columns.values]
    pivoted_courses_collection[courseID] = flat_pivoted_course_df
    filename = str(courseID)+'_pivoted_data.csv'
    # to ease the process of reading the data, we'll sort the rows by students' scores
    flat_pivoted_course_df_ordered = flat_pivoted_course_df.sort_values(by='abs_score', ascending=False)
    flat_pivoted_course_df_ordered.to_csv(path_or_buf='pivoted_tables/'+filename, encoding='utf-8-sig')
    courseId_studentId_isTest_score_howmany = pd.concat([courseId_studentId_isTest_score_howmany, \
                                              flat_pivoted_course_df_ordered.reset_index()\
                                              [['courseId', 'studentId', 'abs_score', 'howManyHasLowerScore', 'isTopPerformer', 'isTest']]],\
                                             ignore_index=True)

courseId_studentId_isTest_score_howmany

Pivoting 1
Pivoting 2
Pivoting 4
Pivoting 5
Pivoting 6
Pivoting 9
Pivoting 10
Pivoting 11
Pivoting 12
Pivoting 13
Pivoting 14
Pivoting 16
Pivoting 17
Pivoting 18
Pivoting 19
Pivoting 20
Pivoting 21
Pivoting 23
Pivoting 27
Pivoting 28
Pivoting 29

,courseId,studentId,abs_score,howManyHasLowerScore,isTopPerformer,isTest
0,1,490,1.000000,0.999458,True,False
1,1,415,0.968101,0.998916,True,False
2,1,316,0.966025,0.998374,True,False
3,1,149,0.948408,0.997832,True,False
4,1,513,0.947150,0.997290,True,False
...,...,...,...,...,...,...
13457,29,15064,0.000000,0.000000,UNKNOWN,True
13458,29,15067,0.000000,0.000000,UNKNOWN,True
13459,29,15068,0.000000,0.000000,UNKNOWN,True
13460,29,15070,0.000000,0.000000,UNKNOWN,True
13461,29,15911,0.000000,0.000000,UNKNOWN,True

In [17]:
# STEP 13. PREDICTING
# At first, let's try the decision tree (0.86657 public score)
# I made an assumption that can be considered stupid that courses 28 and 29 can be predicted based on absolute scores
# in similar courses.
# It's still not something I would use in the real world, but that's what turned out to give the best result 
# (I guess, it happened just because of the high number of false positives)

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score


student_predictedPerformance = pd.DataFrame()

for courseID in courseIDs:
    course_data = courseId_studentId_isTest_score_howmany.query('courseId == @courseID')
    print('Building the decision tree:', courseID)
    if courseID in [23,28,29]: # course 28 is trained on 17 and course 29 is trained on 16 as these courses are similar
        if courseID == 23: # as course 23 has a very little data, we'll train the model on all other (but 28,29) courses
            train = courseId_studentId_isTest_score_howmany.query('isTest == False')[['studentId', 'abs_score', 'isTopPerformer']]
            test = course_data.query('isTest == True')[['studentId', 'abs_score']]
            X_train, y_train  = train[['abs_score']], train['isTopPerformer'].astype(int)
            X_test = test[['abs_score']]
        # this is the moment when courses.csv comes in handy. We see that course 28 and 17 are similar
        elif courseID == 28: 
            train = courseId_studentId_isTest_score_howmany.query('isTest == False and courseId == 17')[['studentId', 'abs_score', 'isTopPerformer']]
            test = course_data.query('isTest == True')[['studentId', 'abs_score']]
            X_train, y_train  = train[['abs_score']], train['isTopPerformer'].astype(int)
            X_test = test[['abs_score']]
        elif courseID == 29:
            train = courseId_studentId_isTest_score_howmany.query('isTest == False and courseId == 16')[['studentId', 'abs_score', 'isTopPerformer']]
            test = course_data.query('isTest == True')[['studentId', 'abs_score']]
            X_train, y_train  = train[['abs_score']], train['isTopPerformer'].astype(int)
            X_test = test[['abs_score']]
    else:
        train = course_data.query('isTest == False')[['studentId', 'abs_score', 'isTopPerformer']]
        test = course_data.query('isTest == True')[['studentId', 'abs_score']]
        X_train, y_train  = train[['abs_score']], train['isTopPerformer'].astype(int)
        X_test = test[['abs_score']]
    # No grid searching is here as we have only one incoming column and it's not expected to have some complex logic.
    # I have to admit I tried tuning some hyperparameters just to prove I'm not wrong
    DTC = DecisionTreeClassifier(criterion='gini', max_depth=1, 
                                 min_samples_split=2, 
                                 min_samples_leaf=1, random_state=0) 
    DTC.fit(X_train, y_train)
    y_pred = DTC.predict(X_test)
    test['isTopPerformer'] = y_pred.astype(bool)
    #print(test)
    student_predictedPerformance = pd.concat([student_predictedPerformance, test], ignore_index=True)    
    

tst_ordered_template = pd.read_csv("data/test.csv") # read the dataframe 
tst_ordered_template = tst_ordered_template[['studentId']] # extract the column so that the prediction has the same order
# restore the order of rows according to the test file
res = pd.merge(tst_ordered_template,student_predictedPerformance,how='left', on='studentId') 
res = res.reset_index()
res[['studentId', 'isTopPerformer']].to_csv(path_or_buf='output/task8_decision_tree.csv', index=False)
res

Building the decision tree: 1
Building the decision tree: 2
Building the decision tree: 4
Building the decision tree: 5
Building the decision tree: 6
Building the decision tree: 9
Building the decision tree: 10
Building the decision tree: 11
Building the decision tree: 12
Building the decision tree: 13
Building the decision tree: 14
Building the decision tree: 16
Building the decision tree: 17
Building the decision tree: 18
Building the decision tree: 19
Building the decision tree: 20
Building the decision tree: 21
Building the decision tree: 23
Building the decision tree: 27
Building the decision tree: 28
Building the decision tree: 29

      index  studentId  abs_score  isTopPerformer
0         0      11450   0.546700            True
1         1       7855   0.056500            True
2         2      12753   0.009579           False
3         3      14717   0.000000           False
4         4       7455   0.643053            True
...     ...        ...        ...             ...
2986   2986      13278   0.000000           False
2987   2987      14984   0.000000           False
2988   2988      14557   0.000000           False
2989   2989      15249   0.000000           False
2990   2990      15012   0.000000           False

[2991 rows x 4 columns]

In [18]:
# STEP 14. Now it's time to use some sophisticated algorithm! 
# If-else, for example ;)  (0.86968)

# get max non-top and min top scores in each course
def get_abs_threshold(data, course_ids):
    thresholds = {}
    for course_id in course_ids[:-2]:
        max_false_score = data.query('courseId == @course_id and isTopPerformer == False').max()['abs_score']
        min_true_score = data.query('courseId == @course_id and isTopPerformer == True').min()['abs_score']
        thresholds[course_id] = [max_false_score, min_true_score]
    return thresholds

abs_thresholds = get_abs_threshold(test_train_dataset, courseIDs)
print(abs_thresholds)

# here goes the algo.
def predict(row):
    courseID = row['courseId']
    if courseID not in [28,29]:
        # here max_false_score and min_true_score are compared; the condition is > max_false_score or
        # >= min_true_score
        if abs_thresholds[courseID][1] > abs_thresholds[courseID][0]:
            row['isTopPerformer'] = 'True' if row['abs_score'] > abs_thresholds[courseID][0] else 'False'
        else:
            row['isTopPerformer'] = 'True' if row['abs_score'] >= abs_thresholds[courseID][1] else 'False'
    elif courseID == 28:
        if abs_thresholds[17][1] > abs_thresholds[17][0]:
            row['isTopPerformer'] = 'True' if row['abs_score'] > abs_thresholds[17][0] else 'False'
        else:
            row['isTopPerformer'] = 'True' if row['abs_score'] >= abs_thresholds[17][1] else 'False'
    elif courseID == 29:
        if abs_thresholds[16][1] > abs_thresholds[16][0]:
            row['isTopPerformer'] = 'True' if row['abs_score'] > abs_thresholds[16][0] else 'False'
        else:
            row['isTopPerformer'] = 'True' if row['abs_score'] >= abs_thresholds[16][1] else 'False'
    return row

res = pd.read_csv("data/test.csv").reset_index()[['studentId']]
test_dataset = courseId_studentId_isTest_score_howmany[['courseId', 'studentId', 'abs_score']]
res = pd.merge(res,test_dataset,how='left', on='studentId') # restore the order of rows according to the test file
res = res.apply(predict, axis=1)
res = res.reset_index()
res['studentId'] = res['studentId'].astype(int)
res[['studentId', 'isTopPerformer']].to_csv(path_or_buf='output/task8_if_else.csv', index=False)
res

{1: [0.0665659997483327, 0.06763558575563106], 2: [0.17190388170055454, 0.17436845348120764], 4: [0.5661231884057971, 0.5742753623188406], 5: [0.5195727515482075, 0.5239230955627522], 6: [0.8195329087048833, 0.8683651804670913], 9: [0.5772829618979152, 0.5808772969086987], 10: [0.3260617312601532, 0.39394291018797867], 11: [0.02943260478552352, 0.029465307679729658], 12: [0.6774524158125915, 0.7213762811127379], 13: [0.04812314339724547, 0.04843640291655415], 14: [0.7359635811836115, 0.7556936874051593], 16: [0.5031133250311333, 0.37484433374844334], 17: [0.5460893854748603, 0.7332402234636871], 18: [0.2632978723404255, 0.29747340425531915], 19: [0.42528735632183906, 0.42624521072796934], 20: [0.20176290949472514, 0.21862853970016657], 21: [0.6633333333333333, 0.6566666666666666], 23: [0.8658008658008658, 1.0], 27: [0.5387994143484627, 0.5007320644216691]}

      index  studentId  courseId  abs_score isTopPerformer
0         0      11450      16.0   0.546700           True
1         1       7855      11.0   0.056500           True
2         2      12753      19.0   0.009579          False
3         3      14717      28.0   0.000000          False
4         4       7455      11.0   0.643053           True
...     ...        ...       ...        ...            ...
2986   2986      13278      19.0   0.000000          False
2987   2987      14984      29.0   0.000000          False
2988   2988      14557      29.0   0.000000          False
2989   2989      15249      29.0   0.000000          False
2990   2990      15012      29.0   0.000000          False

[2991 rows x 5 columns]

In [19]:
# STEP 15. While it's algo scored less that two above, I believe it's still the best one

student_predictedPerformance = pd.DataFrame()

for courseID in courseIDs:
    course_data = courseId_studentId_isTest_score_howmany.query('courseId == @courseID')
    print('Building decision tree:', courseID)
    courseIDs_no2829 = courseIDs[:-2]
    if courseID in [23,28,29]:
        if courseID == 23:
            train = courseId_studentId_isTest_score_howmany.query('isTest == False')[['studentId', 'abs_score', 'isTopPerformer']]
            test = course_data.query('isTest == True')[['studentId', 'abs_score']]
            X_train, y_train  = train[['abs_score']], train['isTopPerformer'].astype(int)
            X_test = test[['abs_score']]
        # this time let's try to train the model for courses 28 and 29 based on the all available data 
        elif courseID in [28, 29]:
            train = courseId_studentId_isTest_score_howmany.query('isTest == False and courseId == @courseIDs_no2829')[['studentId', 'howManyHasLowerScore', 'isTopPerformer']]
            print(train.shape)
            test = course_data.query('isTest == True')[['studentId', 'howManyHasLowerScore']]
            X_train, y_train  = train[['howManyHasLowerScore']], train['isTopPerformer'].astype(int)
            X_test = test[['howManyHasLowerScore']]
    else:
        train = course_data.query('isTest == False')[['studentId', 'abs_score', 'isTopPerformer']]
        test = course_data.query('isTest == True')[['studentId', 'abs_score']]
        X_train, y_train  = train[['abs_score']], train['isTopPerformer'].astype(int)
        X_test = test[['abs_score']]
    DTC = DecisionTreeClassifier(criterion='gini', max_depth=1, 
                                 min_samples_split=2, 
                                 min_samples_leaf=1, random_state=0)
    DTC.fit(X_train, y_train)
    y_pred = DTC.predict(X_test)
    test['isTopPerformer'] = y_pred.astype(bool)
    student_predictedPerformance = pd.concat([student_predictedPerformance, test], ignore_index=True)    

tst_ordered_template = pd.read_csv("data/test.csv")
tst_ordered_template = tst_ordered_template[['studentId']]
res = pd.merge(tst_ordered_template,student_predictedPerformance,how='left', on='studentId') # restore the order of rows according to the test file
res = res.reset_index()
res[['studentId', 'isTopPerformer']].to_csv(path_or_buf='output/task8_decision_tree_with_howManyHasLowerScore.csv', index=False)
res

Building decision tree: 1
Building decision tree: 2
Building decision tree: 4
Building decision tree: 5
Building decision tree: 6
Building decision tree: 9
Building decision tree: 10
Building decision tree: 11
Building decision tree: 12
Building decision tree: 13
Building decision tree: 14
Building decision tree: 16
Building decision tree: 17
Building decision tree: 18
Building decision tree: 19
Building decision tree: 20
Building decision tree: 21
Building decision tree: 23
Building decision tree: 27
Building decision tree: 28
(10471, 3)
Building decision tree: 29
(10471, 3)

      index  studentId  abs_score  isTopPerformer  howManyHasLowerScore
0         0      11450   0.546700            True                   NaN
1         1       7855   0.056500            True                   NaN
2         2      12753   0.009579           False                   NaN
3         3      14717        NaN           False                   0.0
4         4       7455   0.643053            True                   NaN
...     ...        ...        ...             ...                   ...
2986   2986      13278   0.000000           False                   NaN
2987   2987      14984        NaN           False                   0.0
2988   2988      14557        NaN           False                   0.0
2989   2989      15249        NaN           False                   0.0
2990   2990      15012        NaN           False                   0.0

[2991 rows x 5 columns]

<hr>
Conclusion: life is hard but it's quite exciting<br>
On a serious note, I'm surprised why no one scored higher than 87%.<br>
Most likely, some score shouldn't be taken into account or there is a lack of data for course 29 (some courses are missing).<br>
The other idea is that the proportion off the 'top' students is vastly different from other courses